@{
    Layout = "/Views/Shared/_Layout.cshtml";
    string title = "Statistics";
}

<html lang="">
<head>
    <title>Statistics</title>
</head>
<body>
<div class="wrapper-table">
    <div class="wrapper-charts">
        <div class="chart-row">
            <div class="card info-card col-xl-3 col-md-6" id="in_progress_card">
                <div class="card-img col-4"><i class="fas fa-hourglass-half"></i></div>
                <div class="card-text col-8">
                    <div class="card-title">
                        Plans in progress
                    </div>
                    <div class="card-value">
                        @ViewData["In_progress"]
                    </div>
                </div>
            </div>
            <div class="card info-card col-xl-3 col-md-6" id="category_card">
                <div class="card-img col-4"><i class="fas fa-chart-pie"></i></div>
                <div class="card-text col-8">
                    <div class="card-title">
                        Most frequent category
                    </div>
                    <div class="card-value">
                        @ViewData["Most_used_category"]
                    </div>
                </div>
            </div>
            <div class="card info-card col-xl-3 col-md-6" id="fitness_card">
                <div class="card-img col-4"><i class="fas fa-running"></i></div>
                <div class="card-text col-8">
                    <div class="card-title">
                        Fitness events
                    </div>
                    <div class="card-value">
                        @ViewData["Fitness"]
                    </div>
                </div>
            </div>
            <div class="card info-card col-xl-3 col-md-6" id="financial_card">
                <div class="card-img col-4"><i class="fas fa-coins"></i></div>
                <div class="card-text col-8">
                    <div class="card-title">
                        Financial events
                    </div>
                    <div class="card-value">
                        @ViewData["Financial"]
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-row">
            <div class="chart col-xl-6">
                <div class="chart-header">
                    <h3>Spending by date</h3>
                </div>
                <div class="chart-content">
                    <canvas id="spendingDateChart"></canvas>
                </div>
            </div>
            <div class="chart col-xl-3">
                <div class="chart-header">
                    <h3>Spending by category</h3>
                </div>
                <div class="chart-content">
                    <canvas id="spendingCategoryChart"></canvas>
                </div>
            </div>
            <div class="chart col-xl-3">
                <div class="chart-header">
                    <h3>Events by category</h3>
                </div>
                <div class="chart-content">
                    <canvas id="eventCategoryChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
</body>






@{
    var spendingDateChart = (ChartJSCore.Models.Chart)ViewData["spending_date_chart"];
    var spendingCategoryChart = (ChartJSCore.Models.Chart)ViewData["spending_category_chart"];
    // var goal_chart = (ChartJSCore.Models.Chart)ViewData["goal_chart"];
    var eventCategoryChart = (ChartJSCore.Models.Chart)ViewData["event_category_chart"];
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js" integrity="sha512-GMGzUEevhWh8Tc/njS0bDpwgxdCJLQBWG3Z2Ct+JGOpVnEmjvNx6ts4v6A2XJf1HOrtOsfhv3hBKpK9kE5z8AQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
        @Html.Raw(spendingDateChart.CreateChartCode("spendingDateChart"));
        @Html.Raw(spendingCategoryChart.CreateChartCode("spendingCategoryChart"));
        @Html.Raw(eventCategoryChart.CreateChartCode("eventCategoryChart"));
    </script>