@model FinancePlanner.ViewModels.FinanceViewModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    string title = "Finances";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>Events</title>
</head>
<body>
<div class="page-wrapper">
    <div class="title-table">
        <div class="title-table-title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="title-table-action">
            <a class="create-button" asp-controller="Events" asp-action="Create">Create Event</a>
            <a class="create-button" asp-controller="Events" asp-action="CreateEventCategory">Create Event Category</a>
        </div>
    </div>
    <div class="wrapper-table">
        <div class="budget-bar">
            <div class="budget-title">
                <h4 class="budget-title-string">Budget:</h4>
                <h4>@Html.DisplayFor(modelItem => Model.Wallets[0].Amount) €</h4>
            </div>
        </div>
        <div class="content-table">
            <table id="events_table" class="events">
                <thead>
                <tr>
                    @* <th> *@
                    @*     Title *@
                    @* </th> *@
                    <th>
                        Event
                    </th>
                    <th>
                        Event Category
                    </th>
                    <th>
                        Amount spent
                    </th>
                    <th>
                        Date
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var financialEvent in Model.FinancialEvents)
                {
                    var _event = Model.Events.FirstOrDefault(e => e.FinancialEventId == financialEvent.Id);
                    var eventCategoryName = "";
                    eventCategoryName = Model.EventCategories.FirstOrDefault(m => m.Id == _event.EventCategoryId)?.CategoryTitle;
                    <tr>
                        @* <td> *@
                        @*     @Html.DisplayFor(modelItem => financialEvent.Subject) *@
                        @* </td> *@
                        <td>
                            @Html.DisplayFor(modelItem => _event.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => eventCategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => financialEvent.Amount) €
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => _event.StartDate)
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>