@model FinancePlanner.ViewModels.PlanningViewModel

@{
    ViewData["Title"] = "Planning";
}


<div class="tab">
    <button class="tab-button" onclick="changePlanningTab(event, 'overview')">Overview</button>
    <button class="tab-button" onclick="changePlanningTab(event, 'categories')">Categories</button>
</div>

<div class="content">
    <div id="overview" class="tab-content">
        
        <a asp-controller="Planning" asp-action="Create">Create</a>
        
        @foreach (var category in Model.EventCategories)
        {
            <h3>
                @Html.DisplayFor(modelItem => category.CategoryTitle)
            </h3>
            
            <div class="card-container">
                @{
                    var plans = Model.Plans.Where(p => p.EventCategoryId == category.Id);
                }  
                @foreach (var plan in plans)
                {

                    <div class="card">
                        <h5>
                            @Html.DisplayFor(modelItem => plan.Title)
                        </h5>
                        <ul>
                            @{ 
                                var goals = Model.Goals.Where(p => p.PlanId == plan.Id);
                            }  
                            @foreach (var goal in goals)
                            {
                                <li>
                                    @Html.DisplayFor(modelItem => goal.Title): @Html.DisplayFor(modelItem => goal.NumericalProgress) / @Html.DisplayFor(modelItem => goal.NumericalTarget)
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        }
    </div>
</div>  







