@model FinancePlanner.ViewModels.PlanningViewModel

@{
    ViewData["Title"] = "Planning";
    string title = "Planning";
}

<html lang="">
<head>
    <title>Planning</title>
</head>
<body>
<div class="page-wrapper">
    <div class="title-table">
        <a asp-controller="Planning" asp-action="Create">Create Plan</a>
        <a asp-controller="Events" asp-action="CreateEventCategory">Create Event Category</a>
    </div>
    <div class="wrapper-table-dark">
        <div class="content-table">
            @foreach (var category in Model.EventCategories)
            {
                <h3>
                    @Html.DisplayFor(modelItem => category.CategoryTitle)
                </h3>

                <div class="card-container">
                    @{
                        var plans = Model.Plans.Where(p => p.EventCategoryId == category.Id);
                    }
                    @foreach (var plan in plans)
                    {

                        <div class="card">
                            <div class="card-title-bar">
                                <div class="card-title">
                                    <h5>@Html.DisplayFor(modelItem => plan.Title)</h5>
                                </div>
                                <div class="card-action">
                                    <a asp-action="Edit" asp-route-id="@plan.Id"><i class="fas fa-pencil-alt"></i></a>
                                    <form asp-action="Delete">
                                        <button type="submit" asp-action="Delete" asp-route-id="@plan.Id" onclick="return confirm('Are you sure you want to delete?')" class="link-button"><i class="fas fa-trash-alt"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="card-content">
                                <ul>
                                
                                    @{
                                        var goals = Model.Goals.Where(p => p.PlanId == plan.Id);
                                    }
                                    @foreach (var goal in goals)
                                    {
                                        var goalType = Model.GoalTypes.Find(x => x.Id == goal.GoalTypeId);
                                        var goalStatus = Model.GoalStatuses.Find(x => x.Id == goal.GoalStatusId);
                                        if (goalType != null && goalStatus != null)
                                        {
                                            if (goalType.Name == "General")
                                            {
                                                <li class="card-goal">
                                                    <div class="goal-title">
                                                        @Html.DisplayFor(modelItem => goal.Title)
                                                    </div>
                                                    <div class="goal-status">
                                                        @Html.DisplayFor(modelItem => goalStatus.Status)
                                                    </div>
                                                </li>
                                            }
                                            else if (goalType.Name == "Financial")
                                            {
                                                <li class="card-goal">
                                                    <div class="goal-title">
                                                        @Html.DisplayFor(modelItem => goal.Title)
                                                    </div>
                                                    <div class="goal-status">
                                                        @Html.DisplayFor(modelItem => goal.NumericalProgress) / @Html.DisplayFor(modelItem => goal.NumericalTarget)
                                                    </div>
                                                </li>
                                            }
                                            else if (goalType.Name == "Fitness")
                                            {
                                                <li class="card-goal">
                                                    <div class="goal-title">
                                                        @Html.DisplayFor(modelItem => goal.Title)
                                                    </div>
                                                    <div class="goal-status">
                                                        @Html.DisplayFor(modelItem => goal.NumericalProgress) / @Html.DisplayFor(modelItem => goal.NumericalTarget)
                                                    </div>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            @Html.DisplayFor(modelItem => goal.Title)
                                        }
                                    }
                                
                                </ul>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

</body>