@model FinancePlanner.ViewModels.EventViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    string title = "Events";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>Events</title>
</head>
<body>
<div class="page-wrapper">
    <div class="title-table">
        <div class="title-table-title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="title-table-action">
            <a class="create-button" asp-controller="Events" asp-action="Create">Create Event</a>
            <a class="create-button" asp-controller="Events" asp-action="CreateEventCategory">Create Event Category</a>
        </div>
    </div>
    <div class="wrapper-table">
        <div class="content-table">
            <table id="events_table" class="events">
                <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Goal
                    </th>
                    <th>
                        Event Category
                    </th>
                    <th>
                        Started at
                    </th>
                    <th>
                        Finished at
                    </th>
                    @* <th> *@
                    @*     Duration *@
                    @* </th> *@
                    <th>
                        Actions
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Events)
                {
                    var eventTitle = item.Title;
                    var eventDescription = item.Description;
                    var eventCategoryName = "";
                    eventCategoryName = Model.EventCategories.FirstOrDefault(m => m.Id == item.EventCategoryId)?.CategoryTitle;
                    var statusName = "";
                    statusName = Model.EventStatuses.FirstOrDefault(m => m.Id == item.EventCategoryId)?.Status;

                    var planName = "";
                    if (item.GoalId != 0)
                    {
                        planName = Model.Goals.Find(x => x.Id == item.GoalId).Title;
                    }
                    
                    
                    var startDate = item.StartDate;
                    var endDate = item.EndDate;

                    var duration = endDate.Subtract(startDate).ToString("hh\\:mm\\:ss");
                    
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => eventTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => eventDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => planName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => eventCategoryName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => startDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => endDate)
                        </td>
                        @* <td> *@
                        @*     @Html.DisplayFor(modelItem => duration) *@
                        @* </td> *@
                        <td class="action-items">
                            <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-pencil-alt"></i></a>
                            <form asp-action="Delete">
                                <button type="submit" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="link-button"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>