@model FinancePlanner.ViewModels.EventViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    string title = "Events";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>Events</title>
</head>
<body>
<div>
    <h1>@title</h1>
</div>
<div>
    <a asp-controller="Events" asp-action="Create">Create</a>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Events[0].Description)
            </th>
            <th>
                Event Category
            </th> 
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Events)
{
    var eventCategoryName = "";
    eventCategoryName = Model.EventCategories.FirstOrDefault(m => m.Id == item.EventCategoryId)?.CategoryTitle;
    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => eventCategoryName)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                 <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

</body>
</html>