@model FinancePlanner.ViewModels.ReportViewModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
    string title = "Reports";
}

<!DOCTYPE html>

<html lang="">
<head>
    <title>Reports</title>
</head>
<body>
<div class="page-wrapper">
    <div class="title-table">
        <div class="title-table-title">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="title-table-action">
            <a class="create-button" asp-controller="Reports" asp-action="Create">Create Report</a>
        </div>
    </div>
    <div class="wrapper-table">
        <div class="content-table">
            <table id="events_table" class="events">
                <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Plan
                    </th>
                    <th>
                        Schedule
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Reports)
                {
                    var planName = "";
                    planName = Model.Plans.FirstOrDefault(m => m.Id == item.PlantId)?.Title;
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => planName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SendingSchedule)
                        </td>
                        <td>
                            <form asp-action="Delete">
                                <button type="submit" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="link-button"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>